@{ //criando uma view partial => pode ser reutilizada em qualquer view
    <ul class="d-flex list-unstyled gap-3">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Produtos/Index">Produtos</a></li>
        <li><a href="/Contato">Contato</a></li>
    </ul>
}
