@{
	ViewBag.Title = "Options";
	Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .options-container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<div class="options-container">
    <ul class="d-flex list-unstyled gap-3" ">
        <li><a href="/Menu/Menu">Home</a></li>
        <li><a href="/Auth/Logout">Logout</a></li>
    </ul>
</div>
