@{
    ViewBag.Title = "AddInfo";
    Layout = null;
}
@model MVCTutorial.Models.EmployeeViewModel

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

<style>
    body {
        background-color: #f4f6f9;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start; 
    }

    .container {
        width: 40%;
        margin-top: 20px; 
    }

    #loaderDiv { 
        display: none;
    }
</style>

<div class="container">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="width: 50%; padding: 10px; font-size: 1.2rem; align-self:center">Open Modal</a>

    <div class="modal fade" id="myModal"">
        <div class="modal-dialog"">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add New Employee</h3>
                </div>

                <div class="modal-body">
                    <form id="myForm">
                        @Html.DropDownListFor(model => model.DepartmentID, ViewBag.DepartmentList as SelectList, "--select--", new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
                        @Html.TextBoxFor(model => model.SiteName, new { @class = "form-control", @placeholder = "SiteName" })

                    </form>
                    <div style="text-align:center;" id="loaderDiv">
                        <img src="/Contents/InternetSlowdown_Day.gif"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="button" value="Submit" class="btn btn-success" id="btnSubmit"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#btnSubmit").click(function(){
            $("#loaderDiv").show();

            var data = $("#myForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Teste/AddInfo",
                data: data,
                success: function(response) {
                    $("#loaderDiv").hide();
                    $("#myForm")[0].reset();
                    $("#myModal").modal("hide");
                    alert("Employee Added, you are done!");
                }
            });
        });
    });
</script>
