@*
    Comentário em Razor: Este trecho não será processado pelo servidor nem exibido na página.
    Contém um link com mais informações sobre projetos MVC vazios no ASP.NET.
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*criando o modelinho da base de dados*@
@model IEnumerable<MVCTutorial.Models.Employee> 
@{
    /*
    * Bloco de código C# embutido na view.
    * Define um título para a página usando ViewBag.
    * O ViewBag permite passar dados do controller para a view.
    */
    ViewBag.Title = "Index";

    /*
     * Define que esta view não usará um layout principal.
     * Se quiser usar um layout, poderia definir, por exemplo: Layout = "~/Views/Shared/_Layout.cshtml";
     */
    Layout = null;
}

<!-- Tag HTML para um cabeçalho de nível 2 -->
<h2> Teste teste </h2>

<!-- Exibe o valor da variável ViewBag.Name na página -->
@ViewBag.Name


<!-- Linkando o arquivo ccs da tabela -->
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> 
<table class="table table-striped" style="width:60%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tbody>
        @if(Model != null){
            foreach(var item in Model){
                <tr>
                    <td>@item.EmployeeID</td>
                    <td>@item.Name</td>
                    <td>@item.Department</td>
                </tr>
            }
        }
    </tbody>
</table>