@{
    ViewBag.Title = "Menu";
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<ul class="d-flex list-unstyled gap-3">
    <li><a href="/Teste/Menu">Home</a></li>
    <li><a href="/Teste/Login">Login</a></li>
    <li><a href="/Teste/Registration">New Register</a></li>
</ul>

<footer>
    @Html.Partial("_footer")
</footer>
